<!-- Formulario contacto -->
<section class="contact container" id="contacto">
    <!--Heading-->
    <h2 class="heading">Contacto</h2>
    <!-- Formulario -->
    <form action="" class="contact-form" id="contact-form">
        <input type="text" placeholder="Your Name" class="name" required>
        <input type="email" name="" id="" placeholder="Email address..." class="email" required>
        <textarea name="" id="" cols="30" rows="10" placeholder="Write message here..." class="message"
            required></textarea>
        <input type="submit" value="Send" class="send-btn">
    </form>
</section>
<!-- Footer -->
<section class="footer container" id="footer">
    <div class="social">
        <a href="mailto:selene.ch@hotmail.com?Subject=Consulta%20Portfolio"><i class='bx bx-envelope'></i></a>
        <a href="https://www.facebook.com/selene.chavez.31521"><i class='bx bxl-facebook-square'></i></a>
        <a href="https://www.instagram.com/selenio94/"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://twitter.com/Selucha_"><i class='bx bxl-twitter'></i></a>
    </div>
    <!-- Copyright -->
    <p>&#169; 2022</p>
</section>