<!-- Portfolio -->
<section class="portfolio container" id="portfolio">
    <!--Heading-->
    <h2 class="heading">Portfolio</h2>
    <!-- Portfolio Content -->
    <div class="portfolio-content">
        <div class="portfolio-box">
            <img src="/assets/juego-python.jpg" alt="" class="portfolio-img">
            <!-- Overlay -->
            <div class="portfolio-overlay">
                <h2>Mini Math Game</h2>
                <a href="#">
                    <i class='bx bx-link-alt'></i>
                </a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="/assets/img-prueba.jpg" alt="" class="portfolio-img">
            <!-- Overlay -->
            <div class="portfolio-overlay">
                <h2>Web Development</h2>
                <a href="#">
                    <i class='bx bx-link-alt'></i>
                </a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="/assets/img-prueba.jpg" alt="" class="portfolio-img">
            <!-- Overlay -->
            <div class="portfolio-overlay">
                <h2>Web Development</h2>
                <a href="#">
                    <i class='bx bx-link-alt'></i>
                </a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="/assets/img-prueba.jpg" alt="" class="portfolio-img">
            <!-- Overlay -->
            <div class="portfolio-overlay">
                <h2>Web Development</h2>
                <a href="#">
                    <i class='bx bx-link-alt'></i>
                </a>
            </div>
        </div>
    </div>
</section>