   <!-- Curriculum -->
   <section class="estudios" id="estudios">
    <div class="content-section">
        <!-- Heading -->
        <h2 class="heading">Estudios</h2>
        <div class="row">
            <div class="left col">
                <h3>Educación</h3>
                <div class="left item">
                    <h4>Bachiller en Comunicacion</h4>
                    <span class="institucion"> Escuela Popular Latinoamerica</span>
                    <span class="fecha">2007 - 2013</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectori">
                        <div class="circlei"></div>
                    </div>
                </div>
                <div class="left item">
                    <h4>Bioingenieria</h4>
                    <span class="institucion"> Universidad Arturo Jauretche </span>
                    <span class="fecha">2017 - Actualidad</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectori">
                        <div class="circlei"></div>
                    </div>
                </div>
            </div>
            <div class="right col">
                <h3>Certificaciones</h3>
                <div class="right item">
                    <h4>Fullstack Web Developer</h4>
                    <span class="institucion">Argentina Programa</span>
                    <span class="fecha">2022-2023</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
                <div class="right item">
                    <h4>Diseñadora UX/UI</h4>
                    <span class="institucion">Codo a Codo</span>
                    <span class="fecha">2022</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
                <div class="right item">
                    <h4>Habilidades Blandas de Codo a Codo & Accenture</h4>
                    <span class="institucion">Accenture</span>
                    <span class="fecha">2022</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
                <div class="right item">
                    <h4>Argentina Programa</h4>
                    <span class="institucion">Mumuki</span>
                    <span class="fecha">2022</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
                <div class="right item">
                    <h4>MongoDB</h4>
                    <span class="institucion">Udemy</span>
                    <span class="fecha">2021</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
                <div class="right item">
                    <h4>Introduccion a la programación con Python</h4>
                    <span class="institucion">Udemy</span>
                    <span class="fecha">2021</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
                <div class="right item">
                    <h4>Git: Desarrollo Colaborativo</h4>
                    <span class="institucion">EducacionIT</span>
                    <span class="fecha">2021</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
                <div class="right item">
                    <h4>The intermediate level in English</h4>
                    <span class="institucion">British Council</span>
                    <span class="fecha">2018</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Ut consequatur incidunt consequuntur! Id aliquid natus
                        dolorem veniam deleniti corporis voluptatem, assumenda
                        consequuntur velit corrupti vel repudiandae minus repellendus quidem culpa!</p>
                    <div class="connectord">
                        <div class="circled"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
