<!-- Home -->
<section class="home container" id="home">
    <div class="home-content">
        <div class="home-img">
            <img src="/assets/img-selene.png" alt="img-personal">
        </div>
        <div class="home-text">
            <h3>Hello</h3>
            <h2>I'm <span class="color"> Selene Chavez </span></h2>
            <p>
                Soy <span class="color"> Web Developer</span> y <span class="color">diseñadora ux/ui.</span>
                <br> Aqui podras conocer un poco mas <span class="color">acerca de mi.</span>
            </p>
            <!-- Social -->
            <div class="social">
                <a href="https://github.com/Selcha94"><i class='bx bxl-github'></i></a>
                <a href="https://www.instagram.com/selenio94/"><i class='bx bxl-instagram-alt'></i></a>
                <a href="https://www.linkedin.com/in/selene-julieta-chavez/"><i class='bx bxl-linkedin-square'></i></a>
            </div>
        </div>
    </div>
</section>