<!-- About -->
<section class="about container" id="about">
    <!-- Heading -->
    <h2 class="heading">About</h2>
    <!-- About Content -->
    <div class="about-content">
        <div class="about-data">
            <span>About Me</span>
            <h2>Web Developer, <br>
                Diseñadora UX/UI</h2>
            <a href="#" class="btn">
                Descarga Cv
                <i class='bx bxs-download'></i>
            </a>
        </div>
        <div class="about-text">
            <p> Hola! Soy Selene Chavez. Web Developer y Diseñadora UX/UI</p>
            <p>Soy estudiante de Bioingenieria, pero hace un par de años desperto mi pasion por la programacion y la tecnologia. </p>
            <p>Mi objetivo principal es encontrar un proyecto con el cual pueda colaborar y demostrar  todas mis habilidades adquiridas. </p>
        </div>

    </div>
</section>