<!-- Skills -->
<section class="skills" id="skills">
    <div class="content-section">
        <!-- Heading -->
        <h2 class="heading">Skills</h2>
        <!-- Skills Content -->
        <div class="content-section">
            <div class="row">
                <!-- Technical Skill -->
                <div class="col">
                    <h3>Technical Skills</h3>
                    <div class="skill">
                        <span>Javascript</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>HTML & CSS</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>89%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Python</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>85%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>MySQL</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Photoshop</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Professional Skills -->
                <div class="col">
                    <h3>Professional Skills</h3>
                    <div class="skill">
                        <span>Comunicacion</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Trabajo en Equipo</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Creatividad</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>65%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Autodidacta</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>95%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Productividad</span>
                        <div class="skills-bar">
                            <div class="progress">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>